<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de Senha</title>
</head>

<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;">

<div class="email-container" style="max-width: 600px; margin: 0 auto; background-color: #ffffff; border: 1px solid #dddddd;">
    <div class="content" style="padding: 20px; text-align: center;">
        <p style="font-size: 20px; color: #333333; line-height: 1.8;">Olá,</p>
        <p style="font-size: 20px; color: #333333; line-height: 1.8;">Por favor, clique no botão abaixo para verificar sua conta:</p>
        <div class="otp-code" style="font-size: 20px; font-weight: bold; margin: 20px 0;">
            <a class = "url" style="text-decoration: none;" th:href="${link}">Verificar Conta</a>
        </div>
        <p style="font-size: 20px; color: #333333; line-height: 1.8;">Se você não solicitou esta ação, por favor ignore este e-mail.</p>
    </div>
    <div class="footer" style="background-color: #f4f4f4; padding: 10px; text-align: center; font-size: 14px; color: #777777;">
        <p>&copy; 2024 The Rapazes. Todos os direitos reservados.</p>
    </div>
</div>

</body>

</html>